* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.App {
  background-image: url('./assets/images/img-4.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}